*.suo
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom additions
*.sdf
*.opensdf
*.tlog
*.log
*.apk
Tegra-Android/

# Doxygen
docs/
!doxyfile
!doxygen.exe
!doxywizard.exe

Debug/
Release/
VGEngine/Test/assetsfont.ttf
VGEngine/Test/assetskoala.png
VGEngine/Test/assetskoala2.png
VGEngine/Test/assetspingviini.jpg
VGEngine/Test/assetspingviini.png
VGEngine/Test/assetsshaders/default_fragment.glsl
VGEngine/Test/assetsshaders/default_vertex.glsl
VGEngine/Test/assetstest.txt
VGEngine/Test/assetstest_cross.png
VGEngine/Test/assetstest_loop.wav
VGEngine/freetype/ProjectUpgradeBackup_20150409_1408097866/freetype.vcxproj
VGEngine/freetype/ProjectUpgradeBackup_20150409_1408097866/freetype.vcxproj.filters
VGEngine/ProjectUpgradeBackup_20150409_1408343078/VGEngine.sln

# Temp asset duplicates
VGEngine/Test/assetsshaders/*
VGEngine/Test/*.png
VGEngine/Test/*.ttf
VGEngine/Test/*.mp3
*.pdb
*.timestamp
*.idb
*.exp
